html, body {
	padding: 0;
	margin: 0;
	font-family: 'Inter', sans-serif;
	text-transform: uppercase;
	color: #666;
	font-weight: 300;
	background-color: #102237;
	overflow: hidden;
}


a, a:visited, a:hover, a:active {
	color: #00B273;
}

body img {
	display: none;
	/*visibility: hidden;*/
	/*opacity: 0.2;*/
}

body.v1 img.v1,
body.v2 img.v2,
body.v3 img.v3,
body.v4 img.v4, 
body.existing img.existing {
	display: block;
	/*visibility: visible !important;*/
	/*opacity: 1;*/
}

#panzoom-element {
	position: absolute;
	width: auto;
	height: 100%;
}



#map-container {
	z-index: 100;
	position: absolute;
	
	left:  0;
	top: 0;
	width: 100vw;
	height: 100vh;	
	overflow: hidden;
	
}

#map {	
	cursor: grab;
	/*outline: 1px solid red;*/
}

#map:active {	
	cursor: grabbing;
	
}

#map img {	
box-shadow:
  0 1.4px 2.7px rgba(0, 0, 0, 0.045),
  0 5.1px 6.9px rgba(0, 0, 0, 0.07),
  0 10.8px 14.2px rgba(0, 0, 0, 0.089),
  0 16.6px 29.2px rgba(0, 0, 0, 0.104),
  0 20px 80px rgba(0, 0, 0, 0.11)
;

}


#header {
	position: absolute;
	box-sizing: border-box;
	top: 0px;
	right: 0px;
	padding: 18px 18px;
	width: 100%;
	box-sizing: border-box;
	height: auto;
	background-color: white;
	/*border-bottom: 1px solid #111;*/
	z-index: 1000;
box-shadow:
  0 1.4px 2.7px rgba(0, 0, 0, 0.045),
  0 5.1px 6.9px rgba(0, 0, 0, 0.07),
  0 10.8px 14.2px rgba(0, 0, 0, 0.089),
  0 16.6px 29.2px rgba(0, 0, 0, 0.104),
  0 20px 80px rgba(0, 0, 0, 0.11)
;

}

#header #title {
	float: left;
}

#header h1 {
	color: #413d3d;
}

#header h1, #header h3 {
	font-size: 18px;
	font-weight: 300;
	margin: 0;
	
}
#header h3 {
	font-size: 12px;
	opacity: 0.5;
	margin-top: 6px;
	/*letter-spacing: 0.05em;*/
	margin-bottom: 0px;
}

#switcher {
	/*outline: 1px solid red;*/
	
	display: flex;
	justify-content: flex-end;
    align-content: space-between;

}


button {
	
	transition: transform .1s; /* Animation */
	-webkit-tap-highlight-color: transparent; 
	outline: none;
}

button:hover {
	transform: scale(1.05);
}

#switcher button {
	/*margin-left: 1em;
	margin-top: 1em;*/


	min-width: 7em;
	padding-left: 18px;
	padding-right: 18px;
	
	padding-top: 12px;
	
	min-height: 36px;
	background-color: #eee;
	/*color: #009c65;*/
	color: #666;
	margin-left: 12px;
	/*border: 2px solid #00B273;*/
	border-radius: 1000px;
	
	/*opacity: 0.5*/
	box-sizing: border-box;
	text-transform: uppercase;
}

#switcher button span {
	opacity: 0.5;
}

/* Highlight Active State */

body.v1 button#v1,
body.v2 button#v2,
body.v3 button#v3,
body.v4 button#v4,
body.existing button#existing {
	font-weight: 500;
	background-color: #00B273;
	color: white;
}





#zoom-controls {
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 1001;
	max-width: 40px;
	padding: 12px;
}

#zoom-controls button {
	background-color: white;
	border-radius: 1000px;
	margin-top: 12px;
	
	height: 36px;
	width: 36px;
	padding: 0;
	
	
	/*font-size: 18px;*/
	font-weight: 300;
	
	line-height: 1px;
	text-align: center;
	
	
	
	color: #666;
	box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
          0 2px 2px rgba(0,0,0,0.11), 
          0 4px 4px rgba(0,0,0,0.11), 
          0 6px 8px rgba(0,0,0,0.11)
}

#zoom-controls button:hover {
	
	color: #333;
box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
              0 2px 2px rgba(0,0,0,0.11), 
              0 4px 4px rgba(0,0,0,0.11), 
              0 6px 8px rgba(0,0,0,0.11),
              0 8px 16px rgba(0,0,0,0.11);	
}

#zoom-controls button#about {
	font-size: 12px;
	/*font-weight: 500;*/
}


#zoom-controls button:active {
	background-color: #f3f3f3;
	color: #00B273;
	box-shadow: 0 1px 1px rgba(0,0,0,0.2), 
              0 2px 2px rgba(0,0,0,0.2);
 
	transform: scale(0.9);

}

button {
	border: 0;
	background-color: white;
	padding: 1em;
	
	font-family: 'Inter', sans-serif;
	
	
	color: #333;
	min-width: 30px;
	/*min-height: 30px;*/
	padding: 10px;
	box-sizing: border-box;
	border-radius: 5px;

}

#info h3 {
	
	font-weight: 300;
	color: #413d3d;
}

#info {
	/* Set default visibility to none */
	display: none;
	
	z-index: 10000;
	position: absolute;
	background-color: white;
	box-sizing: border-box;
	padding: 120px;
	width: 100%;
	height: 100%;
	/*height: auto;
	overflow-y: scroll;
	outline: 1px solid red;*/
	
	line-height: 1.5em;
	text-transform: none;
}


#info h3, #info a.close {
	padding-top: 0;
	margin-top: 0;
}
	
	
#info h3 {
	float: left;
}

#info a.close {
	float: right;
}

#info hr {
	clear: both;

	border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}



#loading {
	color: #b7b6b6;
	font-weight: 500;
	text-transform: uppercase;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 200px;
	margin-left: -100px;
	text-align: center;
}

/* MOBILE */


@media only screen and (max-width: 800px) {
	
	#header {
		padding: 24px;
		text-align: center;

	}
		
	#header #title {
		width: 100%	;
		float: none;
		
			}
	
	#header h1 {
		font-size: 14px;
		font-weight: 500;
		margin-bottom: 0px;
	}
	#header h3 {
		font-size: 14px;
		margin-top: 12px;
		margin-bottom: 12px;
		
	}
	
	#switcher {
		justify-content: center;
		margin-top: 6px;
		
	}
	
	#switcher button {
		
		padding: 5px 12px !important;
		min-width: auto;
		height: auto !important;
		padding-top: 7px;
		padding-left: 6px;
		padding-right: 6px;
		min-height: auto !important;
		/*font-size: 12px;*/
		margin-left: 3px;
		margin-right: 3px;
		
	}	
	
	#zoom-controls  {
		transform: scale(1.2);
		padding-bottom: 24px;
	}


	
	#info {
		padding: 42px;
		font-size: 14px;
	}
	
	
}


@media only screen and (max-width: 369px) {
	
	#header {
		padding: 18px;
}
	
	/* hide numbers on really small screens (e.g. iphone SE) */
	#switcher button span {
		display: none;
	}
}




